<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Gadget Valley</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Admin Page</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="/allusers">View All Users</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary" href="/addproducts">Add a Gadget</a>
        </div>
    </div>
</div>