<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gadget Valley</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
        <a class="btn btn-light" href="/logout">Logout</a>
    </div>
</nav>

<h1>All Orders</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table style="width: 100%;">
                <tr>
                    <th>Order ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Device</th>
                    <th>Lease Start Date</th>
                    <th>Lease End Date</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Mohak</td>
                    <td>Tamhane</td>
                    <td>iPhone 11 Pro Max</td>
                    <td>12/12/2019</td>
                    <td>3/12/2020</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>Xbox One x</td>
                    <td>11/18/2019</td>
                    <td>2/18/2020</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jane</td>
                    <td>Doe</td>
                    <td>Samsung Galaxy Active 2</td>
                    <td>10/18/2019</td>
                    <td>1/18/2020</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Neal</td>
                    <td>Patel</td>
                    <td>Google Pixel 4 XL</td>
                    <td>12/18/2019</td>
                    <td>3/18/2020</td>
                </tr>
            </table>
        </div>
    </div>
</div>