<h1>Gadget Valley</h1>
<!--<input class="btn" type="submit" value="Sign In" /> -->
<a class="btn btn-light" href="/signin">Sign In</a>
<a class="btn btn-light" href="/signup">Sign Up</a>
<!--m<input class="btn" type="submit" value="Sign Up" /> -->