<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Gadget Valley</h1>
        <p class="lead" style="text-align: center;">Lease a new phone, smartwach or any latest gadget every 3 months.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="/signin" style="width: 100%;">Sign In</a>
    </div>
    <br/>
    <div class="row">
        <a class="btn btn-primary" href="/signup" style="width: 100%;">Sign Up</a>
    </div>
</div>
<!--m<input class="btn" type="submit" value="Sign Up" /> -->