<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Gadget Valley</h1>
        <p class="lead" style="text-align: center;">Lease a new phone, smartwach or any latest gadget every 3 months.
        </p>
    </div>
</div>
<div class="container">
    <form id="signin" name="signin" method="post" action="signin">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" style="width: 100%;"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" style="width: 100%;"/>
        </div>
        <input class="btn btn-primary" type="submit" value="Sign In" />
    </form>
</div>